{% extends "website/layout.html" %}
{% load static %}

{% block body %}
    <div class="container box">
        <h1>Philip Li</h1>
        <h4 style="font-family: Georgia;">Philip Li is a 16 year old high school student in Chicago, IL. </h4>
        <img src="{% static 'website/selfie.jpeg' %}" alt="Pic" id="selfie"/>
        <h4 style="font-family: Georgia;">Extra fluff text and even more additional text that no one even needs, but makes the website looks more fleshed out. The quick brown fox jumps over the lazy dog. B;ah honk speed dictionary dog cat yoghurt chonk. Tea supper meal bread is quark. Einstein sits on a chair for no reason whatsoever.</h4>
    </div>
{% endblock %}