{% extends "website/layout.html" %}

{% block title %}Bookmark your plans, notes, and links{% endblock %}

{% block script %}
<script>
document.addEventListener('DOMContentLoaded', function () {
    document.querySelector('#open').addEventListener('click', function () {
        hide_and_show();
    })
})

function hide_and_show() {
    let x = document.querySelector('#form');
    if (x.style.display === "none") {
        x.style.display = "flex";
    } else {
        x.style.display = "none";
    }
}
</script>
{% endblock %}

{% block body %}
<div style="text-align: center;">
    <button class="btn btn-secondary" id="open">Create bookmark</button>
</div>
<div id="form" style="display: none; justify-content: center; align-items: center; width: 50%;">
    <form method="post" action="{% url 'bookmark' %}" style="width: 50%;">
        {% csrf_token %}
        <input name="title" type="text" placeholder="Title"><br>
        <input name="content" type="text" placeholder="Content of what you want saved (optional)"><br>
        <input name="link" type="url" placeholder="Link (optional)"><br>
        <input type="submit">
    </form>
</div>
<div class="container">
    {% for bookmark in bookmarks %}
    <div class="row">
        <div class="col-3 column">
          <b>{{ bookmark.title }}</b>
        </div>
        {% if bookmark.content %}
        <div class="col-6 column">
          {{ bookmark.content }}
        </div>
        {% endif %}
        {% if bookmark.link %}
        <div class="col-5 column">
          {{ bookmark.link }}
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}
