{% extends "website/layout.html" %}

{% block title %}Bookmark your plans, notes, and links{% endblock %}

{% block script %}
<script>
document.addEventListener('DOMContentLoaded', function () {
    document.querySelector('#open').addEventListener('click', function () {
        hide_and_show();
    })
})

function hide_and_show() {
    let x = document.querySelector('#form');
    if (x.style.display === "none") {
        x.style.display = "flex";
    } else {
        x.style.display = "none";
    }
}
</script>
{% endblock %}

{% block body %}
<div style="text-align: center;">
    <button class="btn btn-secondary" id="open">Create bookmark</button>
</div>
<div id="form" style="display: none; justify-content: center; align-items: center; width: 50%;">
    <form method="post" action="{% url 'bookmark' %}" style="width: 100%;">
        {% csrf_token %}
        <input name="title" type="text" placeholder="Title" style="width: 100%;"><br>
        <input name="content" type="text" placeholder="Content of what you want saved (optional)" style="width: 100%;"><br>
        <input name="link" type="url" placeholder="Link (optional)" style="width: 100%;"><br>
        <input type="submit" style="margin-right: auto; margin-left: auto;">
    </form>
</div>
<div class="container" style="display: flex; justify-content: center; align-items: center; align-content: center;">
    {% for bookmark in bookmarks %}
    <div class="card" style="width: 180rem; margin: 0 auto;">
        <div class="card-body">
            <h5 class="card-title">{{ bookmark.title }}</h5>
            {% if bookmark.content %}
            <p class="card-text">{{ bookmark.content }}</p>
            {% endif %}
        </div>
        {% if bookmark.link %}
        <div class="card-body">
            <a href="{{ bookmark.link }}" class="card-link">{{ bookmark.link }}</a>
        </div>
        {% endif %}
    </div><br>
    {% endfor %}
</div>
{% endblock %}
