{% extends "website/layout.html" %}
{% block script %}
  <script type="text/javascript">
    let canvas, ctx, flag = false,
        prevX = 0,
        currX = 0,
        prevY = 0,
        currY = 0,
        dot_flag = false;

    let x = "black",
        y = 2;

    function init() {
        canvas = document.getElementById('can');
        ctx = canvas.getContext("2d");
        ctx.fillstyle = "#ffffff"
        w = canvas.width;
        h = canvas.height;

        canvas.addEventListener("mousemove", function (e) {
            findxy('move', e)
        }, false);
        canvas.addEventListener("mousedown", function (e) {
            findxy('down', e)
        }, false);
        canvas.addEventListener("mouseup", function (e) {
            findxy('up', e)
        }, false);
        canvas.addEventListener("mouseout", function (e) {
            findxy('out', e)
        }, false);
    }

    function color(obj) {
        switch (obj.id) {
            case "black":
                x = "black";
                break;
            case "white":
                x = "white";
                break;
        }
        if (x === "white") y = 14;
        else y = 2;

    }

    function draw() {
        ctx.beginPath();
        ctx.moveTo(prevX, prevY);
        ctx.lineTo(currX, currY);
        ctx.strokeStyle = x;
        ctx.lineWidth = y;
        ctx.stroke();
        ctx.closePath();
    }

    function erase() {
        var m = true;
        if (m) {
            ctx.clearRect(0, 0, w, h);
            document.getElementById("canvasimg").style.display = "none";
        }
    }

    function save() {
        document.getElementById("canvasimg").style.border = "2px solid";
        var dataURL = canvas.toDataURL("image/png");
        console.log(dataURL);
        document.getElementById("canvasimg").src = dataURL;
        document.getElementById("canvasimg").style.display = "inline";
        fetch('/%2Fdraw', {
        method: 'POST',
        body: JSON.stringify({
            data: dataURL
        }),
        }).then(response => response.json())
        .then(result => {
            // Print result
            console.log(result);
            document.getElementById("message").innerHTML = result.hello;
        })
    }

    function findxy(res, e) {
        if (res === 'down') {
            prevX = currX;
            prevY = currY;
            currX = e.clientX - canvas.offsetLeft;
            currY = e.clientY - canvas.offsetTop;

            flag = true;
            dot_flag = true;
            if (dot_flag) {
                ctx.beginPath();
                ctx.fillStyle = x;
                ctx.fillRect(currX, currY, 2, 2);
                ctx.closePath();
                dot_flag = false;
            }
        }
        if (res === 'up' || res === "out") {
            flag = false;
        }
        if (res === 'move') {
            if (flag) {
                prevX = currX;
                prevY = currY;
                currX = e.clientX - canvas.offsetLeft;
                currY = e.clientY - canvas.offsetTop;
                draw();
            }
        }
    }
    window.onload = function () {
        init()
    }
    </script>
{% endblock %}
    {% block body %}
        <canvas id="can" width="64" height="64" style="border:2px solid;"></canvas>
        <button type="button" class="btn btn-dark" id="black" onclick="color(this)">Draw</button>
        <button type="button" class="btn btn-light" id="white" onclick="color(this)">Erase</button>
        <img hidden id="canvasimg" style="display:none;" name="canvasimg">
        <input type="button" value="save" id="btn" size="30" onclick="save()">
        <input type="button" value="clear" id="clr" size="23" onclick="erase()">
        <h1 id="message">{{ message }}</h1>
{% endblock %}