{% extends "website/layout.html" %}
{% load static %}

{% block title %}Select A Name{% endblock %}

{% block body %}
<div class="box">
<h1 style="text-align: center;">Select A Name</h1><br><br>
<input placeholder="Add a Name Here" id="name" onkeyup="success()"><button type="button" id="add" disabled>Add</button>
<div class="container" style="height: 500px; width: 700px; border: 2px solid black; display: inline-block; float: right;">
    <ul id="names">
        <li id="example1" class="list">Example Name</li>
        <li id="example2" class="list">Example Name 2</li>
    </ul>
</div>
<br><button class="btn btn-primary" type="button" id="select">Select 1 Name</button><br><br>
<button class="btn btn-primary" type="button" id="result" style="visibility: hidden;"></button>
<h6 style="color: grey;">Programmed in Javascript, HTML, and some basic CSS by Philip Li</h6>
</div>
{% endblock %}

{% block script %}
<script>
document.addEventListener('DOMContentLoaded', function () {
    document.querySelector('#add').addEventListener('click', function () {
        add_name();
    })
    document.querySelector('#select').addEventListener('click', function () {
        chooseName();
    })
})
document.querySelector('#add').disabled = !document.querySelector('#name');

function add_name(){
    console.log("called")
    try {
        document.querySelector('#example1').remove();
        document.querySelector('#example2').remove();
    }
    catch (err) {
        // Do nothing lmao
    }
    finally {
        let name = document.querySelector('#name').value;
        console.log(name);
        let node = document.createElement("LI");
        let textnode = document.createTextNode(name);
        node.appendChild(textnode);
        node.className = "list";
        document.querySelector('#names').appendChild(node);
        document.querySelector('#name').value = "";
        document.querySelector('#add').disabled = true;
    }
}
function success() {
	 document.getElementById('add').disabled = document.getElementById("name").value === "";
    }

function getRandomInt(min, max) {
    min = Math.ceil(min);
    max = Math.floor(max);
    return Math.floor(Math.random() * (max - min + 1)) + min;
}

function removeItemOnce(arr, value) {
    let index = arr.indexOf(value);
    if (index > -1) {
    arr.splice(index, 1);
  }
  return arr;
}

function chooseName(ignore = []) {
    let names = [];
    document.querySelectorAll('.list').forEach(element => names.push(element.innerHTML));
    console.log(names);
    let i = 0;
    while (i < ignore.length) {
        names = removeItemOnce(names, ignore[i]);
        i++;
    }
    let len = names.length;
    let name = names[getRandomInt(0, len - 1)];
    document.querySelector('#result').innerHTML = name;
    document.querySelector('#result').disabled = true;
    document.querySelector('#select').innerHTML = "Select another name";
    document.querySelector('#select').addEventListener('click', function () {
        let already_picked = ignore;
        already_picked.push(name)
        chooseName(ignore=already_picked)
    })
}
</script>
{% endblock %}